@import "vars";

// Text Truncation with middle ellipsis - allows names to be truncated while still allowing view of file extension
// Variables to control the truncation behaviour
$startFixedChars     : 3;    // Number of chars before ellipsis - have priority over end chars
$endFixedChars       : 8;    // Number of chars after ellipsis  - lower priority than start chars
$fontFaceScaleFactor : 0.30; // Magic number dependent on font face - set by trial and error

// Derived from the 3 variables above
$startWidth : 1em * $fontFaceScaleFactor * ($startFixedChars + 3);
$endWidth   : 1em * $fontFaceScaleFactor * $endFixedChars;

.directory-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    * {
        user-select: none;
    }

    .directory-item {
        background-color: $whitish;
        display: flex;
        width: 125px;
        height: 125px;
        cursor: pointer;
        font-family: $roboto;
        flex-direction: column;
        position: relative;
        border-radius: 2px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);

        i {
            width: 90px;
            height: 90px;
            text-align: center;
            margin: 0 auto;
            transition: color 0.1s;
            color: $secondhand-grey;

            &:hover {
                color: $flat-asbestos;
            }
        }

        .trunc-container {
            margin-top: auto;
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            justify-content: center;

            .file-name, .file-extension {
                display: inline-block;
                vertical-align: bottom;
                white-space: nowrap;
                overflow: hidden;
            }

            .file-name {
                max-width: calc(100% - #{$endWidth});
                min-width: $startWidth;
                text-overflow: ellipsis;
            }

            .file-extension {
                max-width: calc(100% - #{$startWidth});
                direction: rtl;
            }
        }
    }
}

//HIDING THE DEFAULT BOOTSTRAP ICON ON DROPDOWN TOGGLES
i.fas.fa-ellipsis-h.fa-fw.dropdown-toggle::after {
    display: none;
}
