@import "vars";

.path-container {
    position: relative;
    z-index: 10;
    background-color: $secondhand-grey;
    padding: 15px 20px;
    border-radius: 2px;
    margin-bottom: 15px;

    .path-text-container {
        background-color: $secondhand-grey;
        margin-left: 5px;
        display: flex;
        flex-flow: row wrap;

        .path-link {
            user-select: none;
            font-font: $roboto;
            font-size: 1.5rem;
            color: whitesmoke;

            &.active {
                color: $flat-yellow-1;
            }

            &:hover {
                cursor: pointer;
                color: $flat-blue-1;
            }


        }
    }
}



